:root {
    --darkblue: darkblue;
    --lightgray: lightgray;
    --white: white;
    --black: black;
}

nav {
    background-color: var(--darkblue);
    padding: 10px;
}

body {
    margin: 0px auto;
}

main {
    max-width: 840px;
    padding: 5px
}
nav a {
    background-color: var(--darkblue);
    color: var(--white);
    display: block;
    padding: 5px;
    font-size: 15px;
    text-align: center;
}
h1 {
    color: var(--darkblue);
    font-size: 50px;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--black);
    padding: 2px;
    box-shadow: 0 0 30px var(--black);
}
p {
    padding: 10px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid var(--black);
    padding: 20px;
    background-color: var(--lightgray);
    color: var(--darkblue);
}

aside p { padding: 0;}

aside img {
    width: 200px;
    height: auto;
}

footer {
    background-color: var(--darkblue);
    padding: 10px;
    margin-top: 1rem;
    border-top: 0px;
    color: var(--white);
    text-align: center;
}
